<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CleanToban.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>179BF7C51EC0308A0030E763</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>179BF7DC1EC0308B0030E763</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>179BF7E71EC0308B0030E763</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
